* {
    margin: 0px;
    font-family: "Macondo", cursive;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90dvh;
    width: 90dvw;
    padding: 5dvh 5dvw;
    background-color: #A75FFA;
    color: #fff;
}

p {
    font-size: 1.5em;
    word-break: keep-all;
}

button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #472869;
    background-color: #fff;
    font-size: 1em;
}

.passo {
    display: none;
}

.passo.ativo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 90%;
    text-align: center;
}

main h1 {
    position: absolute;
    bottom: 90%;
}

img {
    max-width: 40%;
}